#include<iostream>
using namespace std;
class bank
{
	private:
		char name[20];  // for storing name of account holder
		char Ac[15];   // for storing account number
		char Ac_type[10];  // for account type
		int intial, deposit,wdraw;  // intial amount,deposit amount and wothdraw amount
	public:
		bank()
		{
			name[20]='Shankhan';
			Ac[15]='932443';
			Ac_type[10]='Current';
			intial=5000;
		}
		void menu();
		void create();
		void depo();  //members functions
		void withdraw();
		void display();
		void check();
		
		
};
void bank::menu()
{
	int choice;// for reading the user input
	cout<<"***********************************************************************\n"<<endl;
	cout<<"/t/t Bank Management System \n\n"<<endl;
	cout<<"\t Choose from menu below: \n"<<endl;
	cout<<"\t \t 1.Create an account with us \n";
	cout<<"\t \t 2.Deposit Balance "<<endl;
	cout<<"\t \t 3.Check Balance "<<endl;
	cout<<"\t \t 4.Withdraw Balance"<<endl;
	cout<<"\t \t 5.Account Holder's Detail"<<endl;
	cout<<"\t \t 6.Exit"<<endl;
	cout<<"***********************************************************************\n"<<endl;
	cin>>choice;
	if(choice==1)
	{
		create();menu();
	}
	else if(choice==2)
	{
		depo();menu();
	}
	else if(choice==3)
	{
		check();menu();
		
	}
	else if(choice== 4)
	{
		withdraw();menu();
		
	}
	else if(choice==5)
	{
		display();menu();
		
	}
}
void bank::create()
{
	cout<<"\n\t Enter name:";
	cin>>name;
	cout<<"\n\t Enter account number:";
	cin>>Ac;
	cout<<"\n\t Enter account type:";
	cin>>Ac_type;
}
void bank::depo()
{
	cout<<"Enter the deposit amount :Rs ";
	cin>>deposit;
}
void bank::check()
{
	intial=intial+deposit;
	cout<<"total available fund: Rs "<<intial<<endl<<endl;
}
void bank::withdraw()
{
	cout<<"\t Enter the withdraw amount\n";
	cin>>wdraw;
}
void bank::display()
{
	cout<<"\t\t TRANSACTION DETAIL \n\n";
	cout<<"\t\t NAME:"<<name<<endl;
	cout<<"\t\t Account NUmber:"<<endl;
	cout<<"\t\t Account Type:"<<Ac_type<<endl;
	cout<<"\t\t Total deposit:Rs"<<deposit<<endl;
	cout<<"\t\t Total withdraw:RS "<<wdraw<<endl;
	cout<<"\t\t Available Now:Rs "<<intial-wdraw; 
}
int main()
{
	bank B;
	B.menu();
	return 0;
}
